~*.*
*.docx
*.doc
*.html

2. PEROVS_EK Katolis_ki tabor.xml
3  PEROVS_EK Liberalni tabor.xml
4. PEROVS_EK Socialistic_ni tabor.xml
5. PEROVS_EK Skupni ali vec_insko podprti programi slovenske politike do konca avstrijske dobe.xml
6. PEROVS_EK Skupine in organizacije, oblikovane izven tradicionalnih politic_nih taborov.xml
7. PEROV\305\240EK Programi v \304\215asu Dr\305\276ave SHS.doc
7.SHS-oznacen-TEI-P5.xml
Novi_Dok_st166-oznacen-TEI-P5.xml
Novi_Dok_st50-oznacen-TEI-P5.xml